RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d


RewriteRule ^register/?$ register.php [NC,L]
RewriteRule ^index/?$ index.php [NC,L]
RewriteRule ^whyus/?$ whyus.php [NC,L]
RewriteRule ^login/?$ login.php [NC,L]
RewriteRule ^hq/?$ index.php?section=dashboard

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^?]*)$ /index.php?section=page_view&domain=$1 [L,QSA]



